
<!DOCTYPE html>
<html>
<head>
  <title></title><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <style type="text/css">
    p {
  border-radius: 10px;
  padding:1em;
  text-align: center;
  width: 30%;
}
input {
  text-align: right;
}
label {
  padding-top: 1em;
}
form {
  margin: 1em 2em;
}
.form-control {
  width: 16%;
}
  </style>
</head>
<body>
<form ng-app="myApp">
  <div class="form-group" ng-controller="interestCalculator">
    <label for="principal">Loan Amount:</label>
    <input type="text" class="form-control" id="principal" ng-model="principal"/>
    <label for="rate">Annual Percentage Rate:</label>
    <input type="text" class="form-control" id="rate" ng-model="rate" />
    <label for="time">Length of Loan in Years:</label>
    <input type="text" class="form-control" id="time" ng-model="time" />
    <br />
    <p class="bg-success">Total Amount You Will Pay: <strong>{{total() | currency}}</strong></p>
      <p class="bg-danger">Total Interest Alone You Will Pay: <strong>{{interest() | currency}}</strong></p>
  </div>
</form>
<script >
  
  (function(){
  var app = angular.module('myApp',[]);
  app.controller('interestCalculator', function($scope){
    $scope.principal = 0;
    $scope.rate = 0;
    $scope.time = 0;
    var grandTotal = 0;
    $scope.total = function(){
      grandTotal = $scope.principal * (1 + ($scope.rate / 100) * $scope.time);
      return grandTotal;
    }
    $scope.interest = function(){
      var interestOnly = grandTotal - $scope.principal;
      return interestOnly;
    };
  });
})();
</script>
</body>
</html>
